body{
	background-color: black;
}
h1,h2,p, li{
	color: gold;

}

h1, h2{
    font-family: fantasy;
}
p{
	margin-top: 10%;
	margin-left: 2%;
	font-size: 36px;

}
ul{
	margin-left: 10%;
}
li{
	font-size: 24px;
}
/*----------2,3,4,5,6 блоки-----------------*/
#TwoBlock, #ThreeBlock, #FourBlock, #FiveBlock, #SixBlock
{
	border: 4px solid black;
	width: 1024px;
	min-height: 768px;
	margin: auto;
	margin-top: -777px;
	opacity: 0;
}
/*----------1 блок-----------------*/
#FirstBlock{
	 border: 4px double black;
	 width: 1024px;
	 min-height: 768px;
	 margin: auto;
	 opacity: 0;
}
#footButton
{
	 border: 4px double black;
	 width: 1024px;
	 height: 100px;
	 margin: auto;
}
#logo{
	display: block;
	width: 80%;
}
#just_do_it{
	display: block;
	width: 30%;
	margin-left: 35%;
}
/*-----------2 блок---------------*/
#homer{
	width: 100%;
	margin-left: 30%;
	margin-top: 5%;
}
#TwoBH2{
	text-align: center;
}
#TwoBH1{
	height: 10px;
	text-align: center;
	opacity: 0;
}

/*-----------3 блок---------------*/
#kolya{
	width: 10%;
}
#sasha{
	width: 17%;
	margin-left: -5%;
}
#murat{
	width: 13%;
	margin-top: 3%;
	margin-left: -4%;
}
#dima{
	width: 23%;
	margin-top: 2%;
	margin-left: -9%;
}
#zheka{
	width: 12%;
	margin-top: 5%;
	margin-left: -3%;
}
#TreeBH1{
	text-align: center;
	margin-top: -13%;
}
.TreeBp{
	padding-right: 10%;
	padding-left: 5%;
	padding-top: 1%;
	margin-top: -2%;
	margin-left: 10%;
	text-align: center;
	font-size: 18px;
}

/*-----------4 блок------------------*/
#FourH1{
	text-align: center;
	opacity: 0;
	height: 10px;
	margin-left: 5%;
}
#FourH2{
	margin-top: 5%;
	text-align: center;
}
#smok{
	margin-top: 10%;
	margin-left: 40%;
	width: 20%;
}
/*-----------5 блок------------------*/
#FiveH1{
	text-align: center;
	opacity: 0;
}

#pFieveBlock{
	margin-left: 10%;
}
#polza{
	width: 40%;
	margin-left: 30%;
}
/*-----------6 блок--------------------*/
#SixH1{
	text-align: center;
	opacity: 0;
}
#homer2{
	width: 45%;
	margin-left: 25%;
}
/*---------------------------------*/
#arrowLeft{
	
	padding: 1%;
	margin-top: 1%;
	margin-left: 37%;
	width: 10%;
}
#arrowRight{
	width: 10%;
	margin-left: 5%;
	transform: scale(-1,-1);
	padding: 1%;
}
